import(methods)
import(graphics)
import(stats)
import(utils)
import(hnp)
import(rootSolve)
importFrom(ggplot2, "fortify")


export(autoDI)
export(describe_model)
export(DI_data, DI_data_prepare, DI_data_E_AV, DI_data_ADD, DI_data_FG, DI_data_fullpairwise)
export(DI)
export(theta_CI)
export(DI_compare)
export(update_DI)
export(extract)
export(contrasts_DI, contrast_matrix)
export(richness_vs_DI)

S3method(predict, DI)
S3method(fortify, DI)

S3method(extract, DI)
S3method(extract, autoDI)

S3method(AICc, default)
S3method(BICc, default)

S3method(logLik, DI)
S3method(AIC, DI)
S3method(AICc, DI)
S3method(BIC, DI)
S3method(BICc, DI)